/*Setting the color palettes*/
$White: #fff;
$ValenciaRed: #D64541;
$RoyalBlue: #4183D7;
$MalibuBlue: #6BB9F0;
$EmeraldGreen: #3FC380;
$LightGreen: #26C281;
$SaffronYellow: #F4D03F;
$EcstasyOrange: #F9690E;
$WhiteSmokeGrey: #ECECEC;
$GalleryGrey: #EEEEEE;
$PorcelainGrey: #ECF0F1;
$LynchGrey: #6C7A89;
$JacksonsPurple: #1F3A93;
$CinnabarRed : #E74C3C;
$LoveRed: #F62459;
$facebook: #3B5998;
$twitter: #4099FF;
$google: #d34836;
$MadisonBlue: #2C3E50;

$Background1: $GalleryGrey;
$Background2:$PorcelainGrey;
$SideBarBackground: $MadisonBlue;

$PrimaryColor1: $ValenciaRed;
$PrimaryColor2: $RoyalBlue;
$PrimaryColor3: $EcstasyOrange;
$PrimaryColor4: $JacksonsPurple;

$RGBA1: rgba(255, 255, 255, 0.7);
$RGBA2: rgba(255, 255, 255, 0.2);
