/*Setting common font size & font weight*/

$small: 0.8em;
$smallUp: 1.2em;
$medium: 1.3em;
$large: 2em;

$PrimaryFontSize: 1.2em;

$iconFontSize: 1.5em;

$LightWeight: 300;
$NormalWeight: 400;
$BoldWeight: 700;
